body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(51, 54, 59);
}

.box{
    width: 400px;
    margin: 0 auto;
    margin-top: 4vw;
    background-color: rgb(32, 34, 37);
    border-radius: 10px;   
    padding: 20px;
}

.inner-box{
    width: 300px;
    margin: 0 auto;
}


.inner-box p{
    color: rgb(117, 117, 117);
    margin-bottom: 0px;
    font-size: 14px;
}

.input{
    background-color: #4F545C66;
    color: white;
    border: none;
    display: block;
    border-radius: 4px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 5px;
    width: 288px;
}

.input:focus{
    outline: none;
}

.forgot-password-box{
    margin-top: 6px;
}

.forgot-password, .register, .login{
    color: #0d6efd;
    font-size: 14px;
    text-decoration: none;
}

.forgot-password:hover{
    cursor: pointer;
    opacity: 0.8;
    text-decoration: underline;
}

.register:hover{
    cursor: pointer;
    opacity: 0.8;
    text-decoration: underline;
}

.login:hover{
    cursor: pointer;
    opacity: 0.8;
    text-decoration: underline;
}

.input-button{
    background-color: #0d6efd;
    color: white;
    border: none;
    display: block;
    border-radius: 4px;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    width: 300px;
    
}

.input-button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.register-box *{
    display: inline-block;
}

.register-text{
    font-size: 14px;
}

.login-box{
    margin-top: 6px;
}