body{
    margin: 0;
    background-color: rgb(47, 49, 54);
    font-family: Arial, Helvetica, sans-serif;
}

.account{
    position: absolute;
    right: 0;
    top: 0;
}


.main-{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background-color: #36393F;
}

.bar{
    height: 5vh;
    background-color: black;
}

.profile{
    margin-left: auto;
}



.text-input{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(64, 68, 75);
    color: white;
    border: none;
    border-radius: 4px;
    width: 500px;

}

.text-input img{
    max-width: 23px; 
    max-height: 23px; 
    width: 100%; 
    height: 100%;
    vertical-align: middle;
}


.text-input:focus{
    outline: none;
}

.send{
    width: 600px;
    display: grid;
    margin: 0 auto;
}

.box{
    width: 600px;
    display: grid;
    grid-template-columns: 500px 100px;
}


.image-attachment-box{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    position: relative;
    width: 600px;
    height: 37vh;
    background-color: rgb(64, 68, 75);
}

.image-attachment{
    max-width: 250px;
    max-height: 175px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    
}


#close-button{
    display: none;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 175px;
}

.image-attachment:hover + #close-button{
    display: block;
}

#close-button:hover{
    display: block;
}

::-webkit-scrollbar{
    background-color:#4F545C66;
    margin-top: 8px;
    width: 10px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgb(32, 34, 37); 
    border-radius: 10px;
  }

.main{
    display: grid;
    grid-template-columns:  300px 963px;
}


.chat-, .chat--{
    width: 300px;
    height: 46px;
    background-color: rgb(47, 49, 54);
    color: #96989d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
    display: grid;
    grid-template-columns:  75px 225px;
    margin-top: 10px;
}

.chat-:hover{
    background-color: #4F545C66;
    color: #DCDDDE;
}


.messages {
    background-color: #36393F;
    font-family: Arial, Helvetica, sans-serif;
    color: #DCDDDE;
    bottom: 0;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(90vh - 43px);
}



.emote-container{
    margin-top: 4px;
    width: 46px;
    height: 46px;
    display: inline-block;
    margin-left: 10px;
}


.message{
    display: grid;
    grid-template-columns:  75px 800px;
    margin-bottom: 8px;
    width: 100%;
}

.message:hover{
    background-color: rgb(50, 53, 59);
}

#anchor{
    overflow-anchor: auto;
    height: 1px;
}

.massages *{
    overflow-anchor: none;
}

.text-top{
    margin: 0px;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.text-bottom{
    margin: 0px;
    height: 22px;
    margin-top: 9px;

}

.text-bottom img{
    max-width: 34px; 
    max-height: 34px; 
    display: inline-block;
}

.search-link{
    text-align: center;
    width: 300px;
    height: 36px;
    background-color: rgb(47, 49, 54);
    color: #96989d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 16px;
    
}

.search-link:hover{
    background-color: #4F545C66;
    color: #DCDDDE;
}












.dropbtn {
    background-color: #DCDDDE;
    color: #36393F;
    width: 100%;
    height: 100%;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;  
}
  
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  .dropup-content {

    position: absolute;
    background-color: #f1f1f1;
    width: 450px;
    bottom: 50px;
    z-index: 1;
  }
  
  .dropup-content li {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
  }
  
  .dropup-content a:hover {background-color: #ccc}
  

  
  .dropup:hover .dropbtn {
    opacity: 0.7;
  }


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(43,45,49); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
}