body{
    margin: 0;
    background-color: rgb(47, 49, 54);
}


.main-{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background-color: #36393F;
}

.bar{
    height: 5vh;
    background-color: black;
}

.profile{
    margin-left: auto;
}



.text-input{
    width: 450px;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(64, 68, 75);
    color: white;
    border: none;
    border-radius: 4px;

    
}

.text-input:focus{
    outline: none;
}



.box{
    
    width: 550px;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 450px 50px 100px;
    
}

::-webkit-scrollbar{
    background-color:#4F545C66;
    margin-top: 8px;
    width: 10px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgb(32, 34, 37); 
    border-radius: 10px;
  }

.main{
    display: grid;
    grid-template-columns:  300px 963px;
}


.chat-, .chat--{
    width: 300px;
    height: 46px;
    background-color: rgb(47, 49, 54);
    color: #96989d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
    display: grid;
    grid-template-columns:  75px 225px;
    margin-top: 10px;
}

.chat-:hover{
    background-color: #4F545C66;
    color: #DCDDDE;
}


.massages {
    background-color: #36393F;
    font-family: Arial, Helvetica, sans-serif;
    color: #DCDDDE;
    bottom: 0;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
}



.emote-container{
    margin-top: 4px;
    width: 38px;
    height: 38px;
    display: inline-block;
    margin-left: 10px;
}


.message{
    display: grid;
    grid-template-columns:  75px 800px;
    margin-bottom: 8px;
    width: 100vw;
}

#anchor{
    overflow-anchor: auto;
    height: 1px;
}

.massages *{
    overflow-anchor: none;
}

.text-top{
    margin: 0px;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.text-bottom{
    margin: 0px;

}

.search-link{
    text-align: center;
    width: 300px;
    height: 36px;
    background-color: rgb(47, 49, 54);
    color: #96989d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 16px;
    
}

.search-link:hover{
    background-color: #4F545C66;
    color: #DCDDDE;
}

#post-content img{
    max-width: 100px;
    max-height: 100px;
}