body{
    margin: 0;
    background-color: rgb(47, 49, 54);
    font-family: Arial, Helvetica, sans-serif;
}

.main-div{
    display: grid;
    grid-template-columns: 20vw 80vw;
}

.main-div-group{
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
}

.side-bar a{
    text-decoration: none !important;
}

.side-bar a:hover{
    cursor: pointer;
    text-decoration: none !important;

}

.chat-select, .chat-selected, .group-member{
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.chat-select:hover, .chat-selected:hover, .group-member:hover{
    cursor: pointer;
    background-color: #35373C;
}

.chat-select section img, .chat-selected section img, .group-member img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 15px;
}

.chat-select section svg, .chat-selected section svg{
    right: 0px;
    bottom: 5px;
}

.chat-select div p, .chat-selected div p, .group-member div p{
    color: #DCDDDE;
    margin: 0;
    margin-left: 10px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
}



.user-amount{
    color: #DCDDDE;
    margin: 0;
    margin-left: 10px;
    font-size: 14px !important;
    width: 130px;
}

.chat-select div, .chat-selected div, .group-member div{
    padding-top: 12.5px;
}

.chat-select div p{
    text-decoration: none;
}

#is_typing_element{
    position: absolute;
    margin: 0px;
    bottom: 97px;
    font-size: 13px;
    color: #DCDDDE;
}

#is_typing_element:hover{
    cursor: default;
}

.chat-selected{
    background-color: #404249;
}

.add-chat{
    width: 100%;
    height: 30px;
    font-size: 20px;
    background-color: #1E1F22;
    outline: none;
    border: none;
    color: #DCDDDE;
}

#add-chat-box{
    display: none;
    z-index: 5;
    position: fixed;
    width: 400px;
    height: 350px;
    background-color: #2B2D31;
    border-radius: 4px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.add-chat-top{
    height: 80px;
}

.add-chat-top input{
    width: 350px;
    box-sizing: border-box;
    margin-top: 25px;
    margin-left: 25px;
    height: 30px;
    padding:  5px 15px 5px 15px;
    outline: none;
    border: none;
    background-color: #1E1F22;
    color: #DBDEE1;
}

.add-chat:hover{
    cursor: pointer;
    opacity: 0.7;
}

.add-chat-bottom{
    padding: 0px 25px 25px 25px;
    height: 270px;
    box-sizing: border-box;
    overflow-y: scroll;
}



.add-chat-bottom2{
    height: 196px;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 0px 25px 25px 0px;

}

.user_div{
    height: 49px;
    display: grid;
    grid-template-columns: 50px 260px 20px 10px;
}

.checkbox:hover{
    cursor: pointer;   
}

.user_div:hover{
    background-color: #35373C;
    cursor: pointer;
    border-radius: 3px;
}

.user_div img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 4.5px;
    margin-left: 11px;
}

.user_div p{
    margin: none;
    margin-top: 15.08px;
    margin-left: 15px;
    font-size: 16px;
    display: block;
    color: #DCDDDE;
}

.abs_bottom{
    height: 24px;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
}
.abs_bottom button{
    width: 200px;
    font-size: 16px;
    height: 24px;
    padding: 0px 5px 0px 5px;
    margin: 0 auto;
    display: block;
}

#overlay2 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
}

.account{
    position: absolute;
    right: 0;
    top: 0;
}


.main-{
    height: 100vh;
    background-color: #36393F;
}

.bar{
    height: 5vh;
    background-color: black;
}

.profile{
    margin-left: auto;
}



.text-input{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(64, 68, 75);
    color: white;
    border: none;
    border-radius: 4px;
}

.text-input img{
    max-width: 23px; 
    max-height: 23px; 
    width: 100%; 
    height: 100%;
    vertical-align: middle;
}


.text-input:focus{
    outline: none;
}

.send{
    width: 600px;
    display: grid;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box{
    width: 600px;
    display: grid;
    grid-template-columns: 4fr 2fr;
}


.image-attachment-box{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    position: relative;
    width: 600px;
    height: 250px;
    background-color: rgb(64, 68, 75);
}

.image-attachment{
    max-width: 250px;
    max-height: 175px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    
}


#close-button{
    display: none;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 175px;
}

.image-attachment:hover + #close-button{
    display: block;
}

#close-button:hover{
    display: block;
}

::-webkit-scrollbar{
    background-color:#4F545C66;
    margin-top: 8px;
    width: 10px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgb(32, 34, 37); 
    border-radius: 10px;
  }

.main{
    display: grid;
    grid-template-columns:  300px 963px;
}


.chat-, .chat--{
    width: 300px;
    height: 46px;
    background-color: rgb(47, 49, 54);
    color: #96989d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
    display: grid;
    grid-template-columns:  75px 225px;
    margin-top: 10px;
}

.chat-:hover{
    background-color: #4F545C66;
    color: #DCDDDE;
}


.messages {
    background-color: #36393F;
    font-family: Arial, Helvetica, sans-serif;
    color: #DCDDDE;
    bottom: 0;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
}



.emote-container{
    width: 46px;
    height: 46px;
    display: inline-block;
    margin-left: 10px;
}


.message{
    display: grid;
    grid-template-columns:  75px 800px;
    margin-bottom: 8px;
    width: 100%;
}

.message:hover{
    background-color: rgb(50, 53, 59);
}

#anchor{
    overflow-anchor: auto;
    height: 1px;
}

.massages *{
    overflow-anchor: none;
}

.text-top{
    margin: 0px;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.text-bottom{
    margin: 0px;
    height: auto;
    margin-top: 9px;

}

.text-bottom img{
    max-width: 34px; 
    max-height: 34px; 
    display: inline-block;
}

.search-link{
    text-align: center;
    width: 300px;
    height: 36px;
    background-color: rgb(47, 49, 54);
    color: #96989d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 16px;
    
}

.search-link:hover{
    background-color: #4F545C66;
    color: #DCDDDE;
}












.dropbtn {
    background-color: #DCDDDE;
    color: #36393F;
    width: 100%;
    height: 100%;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;  
}
  
  .dropup {
    position: relative;
    display: inline-block;
  }
  

  .dropup-content li {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
  }
  
  .dropup-content a:hover {background-color: #ccc}
  

  
  .dropup:hover .dropbtn {
    opacity: 0.7;
  }



  .dropbtn2 {
    background-color: #DCDDDE;
    color: #36393F;
    width: 100%;
    height: 100%;
    border: none; 
}
  
  .dropup2 {
    position: relative;
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
  }
  
  .dropup-content2, .dropup-content {
    position: absolute;
    background-color: #2B2D31;
    width: 550px;
    height: 500px;
    bottom: 50px;
    z-index: 1;
    left: -50%;
  }
  

  
.dropup2:hover .dropbtn2 {
    opacity: 0.7;
  }


.top-bar{
    height: 100px;
    width: 100%;
    display: block;
    position: relative;
}

.top-bar-selection{
    height: 50px;
    width: 100%;
}

.top-bar-selection button{
    margin-right: 10px;
    margin-top: 10px;
    padding:  5px 15px 5px 15px;
    border: none;
    background-color: #2B2D31;
    color: #B5BAC1;
    font-size: 18px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
}

.top-bar-selection:first-child{
    margin-left: 25px;
}

.top-bar-selection button:hover{
    color: #DBDEE1;
    cursor: pointer;
}

.top-bar-button-active{
    background-color: #41434A !important;
    color: #FFFFFF !important;
}

.top-bar-search{
    height: 50px;
    width: 100%;
}

.top-bar-search-bar{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 470px 30px;
    width: 500px;
    background-color: #1E1F22;
    border: none;
    border-radius: 4px;
    outline: none;
}

#top-bar-search-input, #gif-search{
    width: 470px;
    box-sizing: border-box;
    height: 40px;
    background-color: #1E1F22;
    color: #DBDEE1;
    font-size: 22px;
    padding:  5px 15px 5px 15px;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.icon-18rqoe{
    margin-top: 8px;
    color: #DBDEE1;
}

#gif-container{
    display: grid;
    grid-row: 1 / -1;
    grid-template-columns: repeat(2, 1fr);
}

#gif-container img{
    padding: 5px;
    width: 231px;
    border: none;
    border-radius: 12px;
}

#gif-container img:hover{
    cursor: pointer;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(43,45,49); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
}





#overlay-user-profile{
    position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


.about_profile{
    width: 380px;
    background-color: rgb(32, 34, 37);
    color: white;
    
    border-radius: 6px;
    z-index: 3;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.profile--{
    margin-top: 20px;
    padding-top: 10px;
    background-color: rgb(17, 18, 20);
    width: 360px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
    
}

#banner{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.profile-picture-{
    height: 75px;
    width: 75px;
    display: block;
    margin-left: 20px;
    border-radius: 50%;
}

.profile-picture:hover{
    cursor: pointer;
    opacity: 0.5;
}


.name{
    margin-left: 20px;
    font-size: 26px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

.br{
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid #4F545C66;
    margin-bottom: 20px;
}

.about{
    margin-left: 20px;
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 0;
}

.about-text{
    font-size: 14px;
    margin-right: 20px;
    margin-left: 20px;
    height: 80px;
    margin-bottom: 0;
    margin-top: 10px;
    
}


.profile-pic-message{
    width: 100%; 
    height: 100%; 
    border-radius: 50%;
}

.profile-pic-message:hover{
    cursor: pointer;
}