<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Home</title>
    <link type="stylesheet" rel="/static/index.css">

    
</head>
<body>
    
    <div class="main-">
        <div class="massages" id="massage_box">
            {% for message in messages %}
                <div class="message">
                    <div class="emote-container">
                        <img width="75" height="75" style=" max-width: 100%; max-height: 100%; border-radius: 50%;" src="/static/profile-pic/{{message[4]}}">
                    </div>
                    <div>
                        <p class="text-top">{{message[2]}}  {{message[1]}}</p>
                        <p class="text-bottom">
                            {%for content in message[0]%}
                                {% if "img--" in content %}
                                        <img style="max-width: 300px; max-height: 300px" src="{{content[5:]}}">
                                {% else %}
                                    <p>{{content}}</p>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}
            <div id="anchor"></div>
        </div>

        
        <div class="box">
            <div contenteditable id="post-content" class="text-input"></div>
            <button>emo</button>
            <button id="submit-button">SUBMIT</button>
        </div>
    </div>
</body>

<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script>
        var user = "{{username}}"
        var user_id = "{{user_id}}"

        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!', name:user});
        });
        //scrooll
        var anchor = document.getElementById("anchor")
        anchor.scrollIntoView(true)

        //on recieved massage
        socket.on('massage', function(data){ 
            console.log(data)
            var box = document.getElementById("massage_box")

            var message = document.createElement('div')
            message.setAttribute("class", "message")

            //profile pic
            var profilepicb = document.createElement("div")
            profilepicb.setAttribute("class", "emote-container")
            var profilepic = document.createElement("img")
            profilepic.setAttribute("style","max-width: 100%; max-height: 100%; border-radius: 50%;;")
            profilepic.setAttribute("src", "/static/profile-pic/"+data['profile_pic']) //fix?
            profilepicb.appendChild(profilepic)
            message.appendChild(profilepicb)            
            
            //text
            var d = document.createElement("div")


            var name = document.createElement("p")
            name.innerHTML = data['user']
            name.setAttribute("class", "text-top")
            d.appendChild(name)

            var mas = document.createElement('p')
            mas.setAttribute("class", "text-bottom")
            mas.innerHTML = data['chat']
            d.appendChild(mas)
            
            

            message.appendChild(d)
            
            
            var anchor = document.getElementById("anchor")
            console.log(message)
            console.log(anchor)
            box.insertBefore(message, anchor);
        })

        //send massage
        const element = document.getElementById("submit-button");
        val_e = document.getElementById("post-content")
        val_e.focus()

        element.addEventListener("click", function() {
            if (val_e.innerHTML != ""){
                document.execCommand('removeFormat', false, null);
                
                socket.emit("post--",{username: user, user_id : user_id, chat : val_e.innerHTML});
                val_e.innerHTML = "";
                val_e.focus()
            }
        });

        document.addEventListener("keydown", function(event){
            
            if (event.keyCode == 13){
                event.preventDefault()
                if (val_e.innerHTML != ""){
                    socket.emit("post--",{username: user, user_id : user_id, chat : val_e.innerHTML, profile_pic : "{{profile_pic}}"});
                    val_e.innerHTML = "";
                    val_e.focus()
                }x
                
            } 
        })
        
        

        const chatInput = document.getElementById('post-content');

        
        chatInput.addEventListener('paste', function(e) {
            e.preventDefault();
            var items = (e.clipboardData || e.originalEvent.clipboardData).items;
            var isImage = false;
            for (var i = 0; i < items.length; i++) {
                if (items[i].type.indexOf('image') === 0) {
                // This is an image
                console.log("IMAGE")
                var imageFile = items[i].getAsFile();
                var reader = new FileReader();
                reader.onload = function(event) {
                    var img = new Image();
                    img.src = event.target.result;
                    document.getElementById('post-content').appendChild(img);
                };
                reader.readAsDataURL(imageFile);
                isImage = true;
                break;
                }
            }
            if (!isImage) {
                console.log("txt")
                // Insert the pasted text as plain text
                const text = event.clipboardData.getData('text/plain');
                chatInput.textContent = text;
            }
            });
 
    </script>
    
</html>