<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/account_manage.css">
</head>
<body>
    <div class="box" id="box">
        <div class="inner-box">
            <div>
                
                <h style="color: white; display: block; text-align: center; font-weight: bolder; font-size: 22px; margin-top: 40px;">Log in</h>
            </div>
            <form action="#">
                

                <p id="username-p">Username or Email <c style="color: #FA777C">*</c></p>
                <input class="input" type="text" name="username" id="username" placeholder="Username" autocomplete="off">

                <p id="password-p">Password <c style="color: #FA777C">*</c></p>
                
                <input class="input" type="password" name="password" placeholder="Password" id="password">
                <div class="forgot-password-box">
                    <a class="forgot-password">Forgot Password</a>
                </div>
                
                <button class="input-button" type="button" onclick="submit_data()">Sign In</button>
                <div class="register-box">
                    <p style="font-size: 14px;">Dont have an account?</p>
                    <a class="register" id="myLink" href="/register">Register</a>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    var link = document.getElementById('myLink');

    // Add a click event listener
    link.addEventListener('click',async function(event) {
        // Prevent the default redirect behavior
        event.preventDefault();

        // Execute your function
        await endAnimation();

        console.log(link.href)
        // Manually trigger the redirect
        window.location.href = link.href
    });

    async function endAnimation(){
        document.getElementById("box").className = "out-box"
        await sleep(300)
    }

  
    for (let inputElement of document.querySelectorAll("input")){
        inputElement.addEventListener("keydown", function (e){
            if (e.keyCode == 13){
                submit_data()
            }
        })
    }

    async function submit_data(){
        let username = document.getElementById("username").value
        let password = document.getElementById("password").value

        await fetch("/login", {
            "method": "POST",
            "body": `{
                "username": "${username}",
                "password": "${password}"
            }`
        })
        .then(async (data) => {
            data = await data.json()
            console.log(data['status'])
            if (data['status'] == "valid"){
                window.location.replace("/")
            }
            else{
                document.getElementById("username-p").innerHTML = `<c style="color: #FA777C">Username or Email<sp style="font-size: 12px;"> - invalid</sp></c>`
                document.getElementById("password-p").innerHTML = `<c style="color: #FA777C">Password<sp style="font-size: 12px;"> - invalid</sp></c>`
            }
        })
    }
</script>
</html>

