<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/profile_managment.css">
    <title>Document</title>
</head>
<body>
    <div class="main-box">
        <div style="padding-top: 10px; padding-bottom: 10px;" id="banner">
            <img class="profile-picture-" src="/static/profile-pic/1.jpg">
        </div>
        <br>
        <div class="profile--">
            <h1 class="name">{{user_data[1]}}</h1>
            <div class="br"></div>
            <p class="about">ABOUT ME</p>
            <p class="about-text">
                profesional simp
            </p> <!-- 263 characters max -->
        </div>
    </div>
    <div>
        <p>PROFILE PICTURE</p>
        <div class="br"></div>
        <button>CHANGE</button>
        <input style="display: none;">

        <p>BANNER COLOR</p>
        <div class="br"></div>
        <input type="color">

        <p>ABOUT ME</p>
        <div class="br"></div>
        <input type="text">
    </div>
</body>
</html>