<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/account_manage.css">
</head>
<body>
    <div class="box" id="box">
        <div class="inner-box">
            <div>
                <h style="color: white; display: block; text-align: center; font-weight: bolder; font-size: 22px; margin-top: 40px;">Register</h>                
            </div>
            <form action="/register" method="post">
                <p>Username *</p>
                <input class="input" type="text" name="username" id="username" placeholder="Username" autocomplete="off">
                <p>Email *</p>
                <input class="input" type="text" name="Email" id="email" placeholder="Email" autocomplete="off">
                <p>Password *</p>
                <input class="input" type="password" name="password" placeholder="Password">
                <button class="input-button" type="submit" style="margin-top: 14px;">Register</button>
                <div class="login-box">
                    <a class="login" id="myLink" href="/login">Already have an account?</a>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    var link = document.getElementById('myLink');

    // Add a click event listener
    link.addEventListener('click',async function(event) {
        // Prevent the default redirect behavior
        event.preventDefault();

        // Execute your function
        await endAnimation();

        // Manually trigger the redirect
        window.location.replace(link.href)
    });

    async function endAnimation(){
        document.getElementById("box").className = "out-box"
        await sleep(300)
    }
</script>
</html>

